@import url('https://fonts.googleapis.com/css2?family=Joan&family=Lobster&display=swap');

@import "index";
@import"registros";
@import "reset";




/*header img{
    
    width: 100%;
    height: 300px;
    
}*/
    
@mixin propiedades($ancho , $alto , $colorLetra) {
    width: $ancho;
    height: $alto;
    color: $colorLetra;
}
$colorBtn : (
    primario : rgb(101, 163, 214), 
    secundario : rgb(196, 105, 191)


);
$btn :(
    display: flex,
    flex-direction: column,
    padding: 10px,
    text-aling : center
);

@each $key , $var in $colorBtn {
    @extend .btn;
    .btn-#{$key}{
        background-color: $var;
    }
    
}

.btn{
    display: map-get($btn, display ); 
    flex-direction: map-get($btn , flex-direction);
    padding: map-get($btn , padding );
    text-align: map-get($btn , text-align );
    @include propiedades ( 100px , auto , rgb rgb(255, 255, 255));
    
}
.btn input.enviar{
    
   
    background-color: map-get($colorBtn , primario );
    margin-bottom: 10px; /*ver biien despue*/
}
.btn input.reiniciar{
   
    background-color: map-get($colorBtn , secundario );
}


/*a{
    color: white;
    font-family: "Lobster";
}
/*.bodyRegistros{
    display: grid;
    padding: 5px;

    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto  auto ;
    grid-template-areas:    "navbarRegistros navbarRegistros navbarRegistros navbarRegistros"
                            "headerRegistros headerRegistros headerRegistros headerRegistros"
                            "mainRegistros   mainRegistros  mainRegistros    mainRegistros"
                            "footerRegistros footerRegistros footerRegistros footerRegistros";

}
.navbarRegistros{
    grid-area: navbarRegistros;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: green;

}
.navbarRegistros ul{
    display: flex;
    list-style: none;
}
.navbarRegistros ul li{

    padding: 15px;
}
.navbarRegistros ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;

}
.headerRegistros{
    display: flex;
    flex-direction:column;
    grid-area: headerRegistros ;

}
.headerRegistros h1{
    color: white ;
    text-align: center;
    font-size: 35px;
    background-color: green;
    font-family: "Lobster";
}

.mainRegistros{
    grid-area: mainRegistros;
    display: flex;
}
.tarjetaRegistros{
    /* width: 40%;
     background-color: green;
     border-style: solid;
     border-color: white;
     border-width: 3px;
     border-radius: 8px;*/
    
    /* display: flex;
     padding: 5px;
     align-content: center;
     flex-direction: column;
     background-color: green;
     
     justify-content: space-around;
 
 }
 .sexo{
    display: flex;
    padding: 5px;
    background-color: green;
    
 }
 .formularioRegistros{
    display: flex;
    flex-direction: column;
    
 }

.footerRegistros{
    grid-area: footerRegistros;
    display: flex;
    background-color: green;
}*/
.bodyCarta{

    background-image: url(../trento.jpg);
    background-attachment: fixed;
}

.navbarCarta{

    width: 100%;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    position: sticky;
    top: 0;
    background-color: green;
    ul {

        list-style: none;
        margin: 0px;
        li{
            display: inline-block;
            padding: 10px 10px 10px 40px;
           font-size: 24px;
           a{
            text-decoration: none;
            width: 100%;
            color: white;
            font-size: 24px;
            
          }
        
        }
    }
}



 
.tarjetaContacto{
    background-color: green;
    font-size: 24px;
    width: 30%;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 8px;
}
.tarjetaUbicacion{
    background-color: green;
    font-size: 20px;
    width: 50%;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 8px;
    color: white;
    font-family: "Lobster";
    
}

.tarjetaSorrentinos{
    width: 20%;
    background-color: green;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 8px;
    color: white;

}
    .tarjetaProducto{
        width: 20%;
        background-color: green;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 8px;
    color: white;
    }

    @media(min-width:768px){

        .bodyIndex{
    
            
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: 200px auto auto auto auto;
            grid-template-areas:    "header header header header "
                                    "navbar navbar navbar navbar "
                                    "main   main  aside aside "
                                    "main main aside aside"
                                    "footer footer footer footer";
        
        }
        .tarjeta1:hover{
            transform: translate(20px,-20px )
        }
        .tarjeta2:hover{
        transform: translate(-20px,-20px);
        }
}

        
    